*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-image: url(Assets/bg\ ERamen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

nav{
    background-color: #C43007;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

.logo{
    flex: 1;
    align-items: center;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 1em;
    font-weight: bold;
}

.toggle{
    font-size: 30px;
    display: none;
}

.content{
    width: 100%;
    height: 100%;
}

.content h1{
    color: white;
    margin-top: 60px;
    text-align: center;
    font-size: 3vw;
}

.content P{
    color: white;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

footer{
    text-align: center;
    background-color: #C43007;
    padding: 20px;
    position: sticky;
    top: 100%;
    margin-top: 50px;
}

footer a{
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .toggle{
        position: absolute;
        color: white;
        top: 60px;
        right: 30px;
    }

    .toggle input{
        position: absolute;
        width: 22px;
        height: 25px;
        left: -1px;
        top: -10px;
        opacity: 0;
    }

    .menu.active, .toggle{
        display: block;
    }

    .content h1{
        font-size: 6vw;
    }

    .content P{
        font-size: 3vw;
    }
}